# Logs
logs
*.log
npm-debug.log*

# Grunt Intermediate Storage
.grunt

# Build

# Dependency Directories
node_modules/

# npm cache directory
.npm

# eslint cache
.eslintcache

# Environment Variables
.env
